<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include(`${partialPath}/partials/head.ejs`); -%>
    </head>

    <body class="hold-transition sidebar-mini dark-mode layout-navbar-fixed layout-fixed text-smq">
        <div class="wrapper">
            <%- include(`${partialPath}/partials/nav.ejs`); -%> <%- include(`${partialPath}/partials/side.ejs`); -%>

            <div class="content-wrapper">
                <%- include(`${partialPath}/partials/content-head.ejs`); -%>

                <div class="content">
                    <div class="container-fluid">
                        <div class="row"></div>
                    </div>
                </div>
            </div>

            <%- include(`${partialPath}/partials/footer.ejs`); -%>
        </div>

        <%- include(`${partialPath}/partials/script.ejs`); -%>
    </body>
</html>
