<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include(`${partialPath}/partials/head.ejs`); -%> 
        <%- include(`${partialPath}/partials/data-table-head.ejs`); -%>
    </head>

    <body class="hold-transition sidebar-mini dark-mode layout-navbar-fixed layout-fixed text-smq">
        <div class="wrapper">
            <%- include(`${partialPath}/partials/nav.ejs`); -%> 
            <%- include(`${partialPath}/partials/side.ejs`); -%>

            <div class="content-wrapper">
                <div class="content">
                    <div class="container-fluid">
                        <%- include(`${partialPath}/partials/content-head.ejs`); -%>
                        <%- include(`${partialPath}/partials/card-item.ejs`); -%>
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="main-table" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="th-custom">No.</th>
                                                    <th class="th-custom">NISN</th>
                                                    <th class="th-custom">Nama Lengkap</th>
                                                    <th class="th-custom">Tempat Lahir</th>
                                                    <th class="th-custom">Tanggal Lahir</th>
                                                    <th class="th-custom">Jenis Kelamin</th>
                                                    <th class="th-custom">Tahun Masuk</th>
                                                    <th class="th-custom">Tingkat</th>
                                                    <th class="th-custom">Jurusan</th>
                                                    <th class="th-custom">Rombel</th>
                                                    <th class="th-custom">Dibuat</th>
                                                    <th class="th-custom">Diubah</th>
                                                    <th class="th-custom">Aksi</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% let number = 0; siswaArray.forEach(siswaObject => { number += 1; %>
                                                <tr>
                                                    <td class="td-custom"><%= number %></td>
                                                    <td class="td-custom"><%= siswaObject.nisn %></td>
                                                    <td class="td-custom"><%= siswaObject.nama_lengkap %></td>
                                                    <td class="td-custom"><%= siswaObject.id_tempat_lahir.tempat_lahir %></td>
                                                    <td class="td-custom"><%= moment(siswaObject.tanggal_lahir).format("DD-MM-YYYY") %></td>
                                                    <td class="td-custom"><%= siswaObject.id_jenis_kelamin.jenis_kelamin %></td>
                                                    <td class="td-custom"><%= siswaObject.id_tahun_masuk.tahun_masuk %></td>
                                                    <td class="td-custom"><%= siswaObject.id_tingkat.tingkat %></td>
                                                    <td class="td-custom"><%= siswaObject.id_jurusan.jurusan %></td>
                                                    <td class="td-custom"><%= siswaObject.id_rombel.rombel %></td>
                                                    <td class="td-custom"><%= moment(siswaObject.dibuat).format("DD-MM-YYYY") %></td>
                                                    <td class="td-custom"><%= moment(siswaObject.diubah).fromNow() %></td>
                                                    <td class="td-custom">
                                                        <a type="button" class="btn btn-block btn-warning" href="/buku-induk/siswa/update">Ubah</a>
                                                        <a type="button" class="btn btn-block btn-danger" href="/buku-induk/siswa/delete">Hapus</a>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                            </tbody>
                                            
                                            <tfoot>
                                                <tr>
                                                    <th class="th-custom">No.</th>
                                                    <th class="th-custom">NISN</th>
                                                    <th class="th-custom">Nama Lengkap</th>
                                                    <th class="th-custom">Tempat Lahir</th>
                                                    <th class="th-custom">Tanggal Lahir</th>
                                                    <th class="th-custom">Jenis Kelamin</th>
                                                    <th class="th-custom">Tahun Masuk</th>
                                                    <th class="th-custom">Tingkat</th>
                                                    <th class="th-custom">Jurusan</th>
                                                    <th class="th-custom">Rombel</th>
                                                    <th class="th-custom">Dibuat</th>
                                                    <th class="th-custom">Diubah</th>
                                                    <th class="th-custom">Aksi</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <a type="button" class="btn btn-block btn-primary" href="/buku-induk/siswa/create">Buat Siswa</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include(`${partialPath}/partials/footer.ejs`); -%>
        </div>

        <%- include(`${partialPath}/partials/script.ejs`); -%>
    </body>

    <%- include(`${partialPath}/partials/data-table-script.ejs`); -%>
</html>
