<% const pageItemCurrent = pageItemArray[navActive[0]].child[navActive[1]]; %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./../../../partials/head.ejs"); -%> 
        <%- include("./../../../partials/select-head.ejs"); -%>
        <%- include("./../../../partials/data-table-head.ejs"); -%>
        <%- include("./../../../partials/sweet-alert-head.ejs"); %>
    </head>

    <body class="hold-transition sidebar-mini dark-mode layout-navbar-fixed layout-fixed text-smq">
        <div class="wrapper">
            <%- include("./../../../partials/nav.ejs"); -%> 
            <%- include("./../../../partials/side.ejs"); -%>

            <div class="content-wrapper">
                <div class="content">
                    <div class="container-fluid">
                        <%- include("./../../../partials/content-head.ejs", {extraTitle: "Utama"}); -%>
                        <%- include("./../../../partials/card-item.ejs"); -%>
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="rombel_select">Rombel</label>
                                            <select name="rombel_select" class="form-control select2bs4 full-width" id="rombel_select" onchange="filterSelect();">
                                                <option disabled>Pilih rombel</option>

                                                <option value="semua" selected>Semua</option>
                                                
                                                <% 
                                                    rombelArray.forEach(rombelObject => { 
                                                        if (rombelObject._id == rombelValue) { 
                                                %> 
                                                            <option value="<%= rombelObject._id %>" selected><%= rombelObject.rombel %></option>
                                                    <% 
                                                        } else if (rombelObject._id != rombelValue) {
                                                    %>
                                                            <option value="<%= rombelObject._id %>"><%= rombelObject.rombel %></option>
                                                <% 
                                                        }
                                                    });
                                                %>
                                                    
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="tahun_masuk_select">Tahun Masuk</label>
                                            <select name="tahun_masuk_select" class="form-control select2bs4 full-width" id="tahun_masuk_select" onchange="filterSelect();">
                                                <option disabled>Pilih tahun masuk</option>

                                                <option value="semua" selected>Semua</option>
                                                
                                                <% 
                                                    tahunMasukArray.forEach(tahunMasukObject => { 
                                                        if (tahunMasukObject._id == tahunMasukValue) { 
                                                %> 
                                                            <option value="<%= tahunMasukObject._id %>" selected><%= tahunMasukObject.tahun_masuk %></option>
                                                    <% 
                                                        } else if (tahunMasukObject._id != tahunMasukValue) {
                                                    %>
                                                            <option value="<%= tahunMasukObject._id %>"><%= tahunMasukObject.tahun_masuk %></option>
                                                <% 
                                                        }
                                                    });
                                                %>
                                                    
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="tahun_lulus_select">Tahun Lulus</label>
                                            <select name="tahun_lulus_select" class="form-control select2bs4 full-width" id="tahun_lulus_select" onchange="filterSelect();">
                                                <option disabled>Pilih tahun lulus</option>

                                                <option value="semua" selected>Semua</option>
                                                
                                                <% 
                                                    tahunLulusArray.forEach(tahunLulusObject => { 
                                                        if (tahunLulusObject._id == tahunLulusValue) { 
                                                %> 
                                                            <option value="<%= tahunLulusObject._id %>" selected><%= tahunLulusObject.tahun_lulus %></option>
                                                    <% 
                                                        } else if (tahunLulusObject._id != tahunLulusValue) {
                                                    %>
                                                            <option value="<%= tahunLulusObject._id %>"><%= tahunLulusObject.tahun_lulus %></option>
                                                <% 
                                                        }
                                                    });
                                                %>
                                                    
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="main-table" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="th-custom export">No.</th>

                                                    <% tableAttributeArray.forEach(tableAttributeObject => { %>
                                                        <th class="th-custom export"><%= tableAttributeObject.label %></th>
                                                    <% }); %>

                                                    <th class="th-custom export">Dibuat</th>
                                                    <th class="th-custom export">Diubah</th>
                                                    <th class="th-custom">Aksi</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% 
                                                    if (tableItemArray.length >= 1) { 
                                                        let number = 0; 
                                                        tableItemArray.forEach(tableItemObject => { 
                                                            number += 1;
                                                %>
                                                            <tr>
                                                                <td class="td-custom"><%= number %></td>

                                                                <% tableAttributeArray.forEach(tableAttributeObject => {
                                                                        let tableItemValue = "tableItemObject";

                                                                        let valueLength = tableAttributeObject.value.length;
                                                                        let i = 0;
                                                                        while (i < valueLength) {
                                                                            tableItemValue = tableItemValue + `[tableAttributeObject.value[${i}]]`;

                                                                            i += 1;
                                                                        }

                                                                        tableItemValue = eval(tableItemValue);

                                                                        if (tableAttributeObject.type == "date") {
                                                                            tableItemValue = moment(tableItemValue).format("DD-MM-YYYY");
                                                                        };
                                                                %>
                                                                        <td class="td-custom"><%= tableItemValue %></td>
                                                                <%
                                                                    }); 
                                                                %>

                                                                <td class="td-custom"><%= moment(tableItemObject.dibuat).format("DD-MM-YYYY") %></td>
                                                                <td class="td-custom"><%= moment(tableItemObject.diubah).fromNow() %></td>
                                                                <td class="td-custom">
                                                                    <a type="button" class="btn btn-block btn-warning" href="/<%= pageItemCurrent.link %>/update?id=<%= tableItemObject._id %>">Ubah</a>
                                                                    <a type="button" class="btn btn-block btn-danger" href="/<%= pageItemCurrent.link %>/delete?id=<%= tableItemObject._id %>">Hapus</a>
                                                                </td>
                                                            </tr>
                                                <% 
                                                        });
                                                    }
                                                %>
                                            </tbody>
                                            
                                            <tfoot>
                                                <tr>
                                                    <th class="th-custom">No.</th>

                                                    <% tableAttributeArray.forEach(tableAttributeObject => { %>
                                                        <th class="th-custom"><%= tableAttributeObject.label %></th>
                                                    <% }); %>

                                                    <th class="th-custom">Dibuat</th>
                                                    <th class="th-custom">Diubah</th>
                                                    <th class="th-custom">Aksi</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <a type="button" class="btn btn-block btn-primary" href="/<%= pageItemCurrent.link %>/create">Buat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("./../../../partials/footer.ejs"); -%>
        </div>

        <%- include("./../../../partials/script.ejs"); -%>
    </body>

    <%- include("./../../../partials/select-script.ejs"); -%>
    <%- include("./../../../partials/data-table-script.ejs"); -%>
    <%- include("./../../../partials/toast-script.ejs"); -%>

    <script>
        function filterSelect() {
            const rombelValue = document.getElementById("rombel_select").value;
            const tahunMasukValue = document.getElementById("tahun_masuk_select").value;
            const tahunLulusValue = document.getElementById("tahun_lulus_select").value;

            window.location = `./?rombel=${rombelValue}&tahunMasuk=${tahunMasukValue}&tahunLulus=${tahunLulusValue}`;
        };
    </script>
</html>
