<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include(`${partialPath}/partials/head.ejs`); -%> 
        <%- include(`${partialPath}/partials/data-table-head.ejs`); -%>
        <%- include(`${partialPath}/partials/sweet-alert-head.ejs`); %>
    </head>

    <body class="hold-transition sidebar-mini dark-mode layout-navbar-fixed layout-fixed text-smq">
        <div class="wrapper">
            <%- include(`${partialPath}/partials/nav.ejs`); -%> 
            <%- include(`${partialPath}/partials/side.ejs`); -%>

            <div class="content-wrapper">
                <div class="content">
                    <div class="container-fluid">
                        <%- include(`${partialPath}/partials/content-head.ejs`); -%>
                        <%- include(`${partialPath}/partials/card-item.ejs`); -%>
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="main-table" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="th-custom">No.</th>
                                                    <th class="th-custom">Tempat Lahir</th>
                                                    <th class="th-custom">Dibuat</th>
                                                    <th class="th-custom">Diubah</th>
                                                    <th class="th-custom">Aksi</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% let number = 0; tempatLahirArray.forEach(tempatLahirObject => { number += 1; %>
                                                    <tr>
                                                        <td class="td-custom"><%= number %></td>
                                                        <td class="td-custom"><%= tempatLahirObject.tempat_lahir %></td>
                                                        <td class="td-custom"><%= moment(tempatLahirObject.dibuat).format("DD-MM-YYYY") %></td>
                                                        <td class="td-custom"><%= moment(tempatLahirObject.diubah).fromNow() %></td>
                                                        <td class="td-custom">
                                                            <a type="button" class="btn btn-block btn-warning" href="/buku-induk/tempat-lahir/update?id=<%= tempatLahirObject._id %>">Ubah</a>
                                                            <a type="button" class="btn btn-block btn-danger" href="/buku-induk/tempat-lahir/delete?id=<%= tempatLahirObject._id %>">Hapus</a>
                                                        </td>
                                                    </tr>
                                                <% }); %>
                                            </tbody>
                                            
                                            <tfoot>
                                                <tr>
                                                    <th class="th-custom">No.</th>
                                                    <th class="th-custom">Tempat Lahir</th>
                                                    <th class="th-custom">Dibuat</th>
                                                    <th class="th-custom">Diubah</th>
                                                    <th class="th-custom">Aksi</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <a type="button" class="btn btn-block btn-primary" href="/buku-induk/tempat-lahir/create">Buat Tempat Lahir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include(`${partialPath}/partials/footer.ejs`); -%>
        </div>

        <%- include(`${partialPath}/partials/script.ejs`); -%>
    </body>

    <%- include(`${partialPath}/partials/data-table-script.ejs`); -%>
    <%- include(`${partialPath}/partials/toast-script.ejs`); -%>
</html>
