<% const pageItemCurrent = pageItemArray[navActive[0]].child[navActive[1]]; %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./../../../partials/head.ejs"); -%>
        <%- include("./../../../partials/data-table-head.ejs"); -%>
        <%- include("./../../../partials/sweet-alert-head.ejs"); %>
    </head>

    <body class="hold-transition sidebar-mini dark-mode layout-navbar-fixed layout-fixed text-smq">
        <div class="wrapper">
            <%- include("./../../../partials/nav.ejs"); -%> 
            <%- include("./../../../partials/side.ejs"); -%>

            <div class="content-wrapper">
                <div class="content">
                    <div class="container-fluid">
                        <%- include("./../../../partials/content-head.ejs", {extraTitle: "Utama"}); -%>
                        <%- include("./../../../partials/card-item.ejs"); -%>
                        <%- include("./../../../partials/filter.ejs"); -%>

                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="main-table" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="th-custom export" rowspan="2">No.</th>
                                                    <th class="th-custom export" colspan="3">Buku</th>
                                                    <th class="th-custom export" rowspan="2">Status</th>

                                                    <% tableAttributeArray.forEach(tableAttributeObject => { %>
                                                        <th class="th-custom export" rowspan="2"><%= tableAttributeObject.label %></th>
                                                    <% }); %>
                                                    
                                                    <th class="th-custom export" rowspan="2">Dibuat</th>
                                                    <th class="th-custom export" rowspan="2">Diubah</th>
                                                    <th class="th-custom" rowspan="2">Aksi</th>
                                                </tr>

                                                <tr>
                                                    <th class="th-custom export">Kode</th>
                                                    <th class="th-custom export">Judul</th>
                                                    <th class="th-custom export">Kuantitas</th>
                                                </tr>     
                                            </thead>

                                            <tbody>
                                                <% 
                                                    if (tableItemArray.length >= 1) { 
                                                        let number = 0; 
                                                        tableItemArray.forEach(tableItemObject => { 
                                                            number += 1;
                                                %>
                                                            <tr>
                                                                <td class="td-custom"><%= number %></td>            
                                                                                                                
                                                                <td class="p-0 m-0">
                                                                    <div>
                                                                        <table class="table table-bordered table-striped p-0 m-0" style="border: 0px solid !important;">
                                                                            <tbody>
                                                                                <% tableItemObject.buku.forEach((bukuObject) => { %>
                                                                                    <tr>
                                                                                        <td class="td-custom" style="border-top: 0px !important; border-right: 0px !important;"><%= bukuObject.id_buku.kode %></td>
                                                                                    </tr>
                                                                                <% }); %>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>

                                                                <td class="p-0 m-0">
                                                                    <div>
                                                                        <table class="table table-bordered table-striped p-0 m-0" style="border: 0px solid !important;">
                                                                            <tbody>
                                                                                <% tableItemObject.buku.forEach((bukuObject) => { %>
                                                                                    <tr>
                                                                                        <td class="td-custom" style="border-top: 0px !important; border-right: 0px !important;"><%= bukuObject.id_buku.judul %></td>
                                                                                    </tr>
                                                                                <% }); %>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>

                                                                <td class="p-0 m-0">
                                                                    <div>
                                                                        <table class="table table-bordered table-striped p-0 m-0" style="border: 0px solid !important;">
                                                                            <tbody>
                                                                                <% tableItemObject.buku.forEach((bukuObject) => { %>
                                                                                    <tr>
                                                                                        <td class="td-custom" style="border-top: 0px !important; border-right: 0px !important;"><%= bukuObject.kuantitas %></td>
                                                                                    </tr>
                                                                                <% }); %>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>

                                                                <td class="td-custom"><%= tableItemObject.status %></td>
                                                                
                                                                <% tableAttributeArray.forEach(tableAttributeObject => {
                                                                        let tableItemValue = "tableItemObject";

                                                                        let valueLength = tableAttributeObject.value.length;
                                                                        let i = 0;
                                                                        while (i < valueLength) {
                                                                            tableItemValue = tableItemValue + `[tableAttributeObject.value[${i}]]`;

                                                                            i += 1;
                                                                        }

                                                                        tableItemValue = eval(tableItemValue);

                                                                        if (tableAttributeObject.type == "date") {
                                                                            tableItemValue = moment(tableItemValue).format("DD-MM-YYYY");
                                                                        };
                                                                %>
                                                                        <td class="td-custom"><%= (tableAttributeObject.type != "date" && tableItemValue != null) || (tableAttributeObject.type == "date" && tableItemValue != "Invalid date") ? tableItemValue : "Tidak Ada" %></td>
                                                                <%
                                                                    }); 
                                                                %>

                                                                <td class="td-custom"><%= moment(tableItemObject.dibuat).format("DD-MM-YYYY") %></td>
                                                                <td class="td-custom"><%= moment(tableItemObject.diubah).fromNow() %></td>
                                                                <td class="td-custom">
                                                                    <a type="button" class="btn btn-block btn-primary" href="/perpustakaan/anggota?type=peminjaman&anggota=<%= tableItemObject.id_anggota._id %>">Anggota</a>
                                                                    <a type="button" class="btn btn-block btn-primary" href="/perpustakaan/petugas?type=peminjaman&petugas=<%= tableItemObject.id_petugas._id %>">Petugas</a>
                                                                    <a type="button" class="btn btn-block btn-primary" href="/perpustakaan/pengembalian?type=peminjaman&pengembalian=<%= tableItemObject.id_pengembalian %>">Pengembalian</a>
                                                                    <a type="button" class="btn btn-block btn-warning" href="/<%= pageItemCurrent.link %>/update?id=<%= tableItemObject._id %>">Ubah</a>
                                                                    <a type="button" class="btn btn-block btn-danger" href="/<%= pageItemCurrent.link %>/delete?id=<%= tableItemObject._id %>">Hapus</a>
                                                                </td>
                                                            </tr>
                                                <% 
                                                        });
                                                    } 
                                                %>
                                            </tbody>
                                            
                                            <tfoot>
                                                <tr>
                                                    <th class="th-custom export" rowspan="2">No.</th>
                                                    <th class="th-custom export">Kode</th>
                                                    <th class="th-custom export">Judul</th>
                                                    <th class="th-custom export">Kuantitas</td>
                                                    <th class="th-custom export" rowspan="2">Status</th>

                                                    <% tableAttributeArray.forEach(tableAttributeObject => { %>
                                                        <th class="th-custom export" rowspan="2"><%= tableAttributeObject.label %></th>
                                                    <% }); %>

                                                    <th class="th-custom export" rowspan="2">Dibuat</th>
                                                    <th class="th-custom export" rowspan="2">Diubah</th>
                                                    <th class="th-custom" rowspan="2">Aksi</th>
                                                </tr>

                                                <tr>
                                                    <th class="th-custom export" colspan="3">Buku</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <a type="button" class="btn btn-block btn-primary" href="/<%= pageItemCurrent.link %>/create">Buat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("./../../../partials/footer.ejs"); -%>
        </div>

        <%- include("./../../../partials/script.ejs"); -%>
    </body>

    <%- include("./../../../partials/data-table-script.ejs"); -%>
    <%- include("./../../../partials/toast-script.ejs"); -%>
</html>
