<% const pageItemCurrent = pageItemArray[navActive[0]].child[navActive[1]]; %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./../../../partials/head.ejs"); -%> 
        <%- include("./../../../partials/select-head.ejs"); -%>
        <%- include("./../../../partials/sweet-alert-head.ejs"); %>
    </head>

    <body class="hold-transition sidebar-mini dark-mode layout-navbar-fixed layout-fixed text-smq">
        <div class="wrapper">
            <%- include("./../../../partials/nav.ejs"); -%> 
            <%- include("./../../../partials/side.ejs"); -%>

            <div class="content-wrapper">
                <div class="content">
                    <div class="container-fluid">
                        <%- include("./../../../partials/content-head.ejs", {extraTitle: "Utama"}); -%>
                        <%- include("./../../../partials/card-item.ejs"); -%>
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <select name="rombel_select" class="form-control select2bs4 full-width" id="rombel_select" onchange="filterSelect();">
                                            <option disabled>Pilih rombel</option>

                                            <option value="semua" selected>Semua</option>
                                            
                                            <% 
                                                rombelArray.forEach(rombelObject => { 
                                                    if (rombelObject._id == rombelValue) { 
                                            %> 
                                                        <option value="<%= rombelObject._id %>" selected><%= rombelObject.rombel %></option>
                                                <% 
                                                    } else if (rombelObject._id != rombelValue) {
                                                %>
                                                        <option value="<%= rombelObject._id %>"><%= rombelObject.rombel %></option>
                                            <% 
                                                    }
                                                });
                                            %>
                                                
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <select name="tahun_masuk_select" class="form-control select2bs4 full-width" id="tahun_masuk_select" onchange="filterSelect();">
                                            <option disabled>Pilih tahun masuk</option>

                                            <option value="semua" selected>Semua</option>
                                            
                                            <% 
                                                tahunMasukArray.forEach(tahunMasukObject => { 
                                                    if (tahunMasukObject._id == tahunMasukValue) { 
                                            %> 
                                                        <option value="<%= tahunMasukObject._id %>" selected><%= tahunMasukObject.tahun_masuk %></option>
                                                <% 
                                                    } else if (tahunMasukObject._id != tahunMasukValue) {
                                                %>
                                                        <option value="<%= tahunMasukObject._id %>"><%= tahunMasukObject.tahun_masuk %></option>
                                            <% 
                                                    }
                                                });
                                            %>
                                                
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="main-table" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="th-custom">No.</th>
                                                    <th class="th-custom">Nama</th>
                                                    <th class="th-custom">Rombel</th>
                                                    <th class="th-custom">Tahun Masuk</th>
                                                    <th class="th-custom">Hasil Raport</th>
                                                    <th class="th-custom">Dibuat</th>
                                                    <th class="th-custom">Diubah</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% let number = 0; tableItemArray.forEach(tableItemObject => { number += 1; %>
                                                    <tr data-widget="expandable-table" aria-expanded="false">
                                                        <td class="td-custom"><%= number %></td>
                                                        <td class="td-custom"><%= tableItemObject.id_siswa.nama_lengkap %></td>
                                                        <td class="td-custom"><%= tableItemObject.id_siswa.id_rombel.rombel %></td>
                                                        <td class="td-custom"><%= tableItemObject.id_siswa.id_tahun_masuk.tahun_masuk %></td>
                                                        <td class="td-custom"><%= tableItemObject.score_raport %></td>
                                                        <td class="td-custom"><%= moment(tableItemObject.dibuat).format("DD-MM-YYYY") %></td>
                                                        <td class="td-custom"><%= moment(tableItemObject.diubah).fromNow() %></td>
                                                    </tr>

                                                    <tr class="expandable-body">
                                                        <td colspan="7">
                                                            <table class="table table-bordered table-striped m-0">
                                                                <tbody>
                                                                    <tr><td colspan="4" style="height: 50px;"></td></tr>

                                                                    <% 
                                                                        tableItemObject.semester.forEach(semesterObject => { 
                                                                    %>
                                                                            <tr class="white-border-top white-border-side">
                                                                                <th class="th-custom" colspan="4">Semester <%= semesterObject.semester %></th>
                                                                            </tr>

                                                                            <tr class="white-border-side">
                                                                                <th class="th-custom">Mata Pelajaran</th>
                                                                                <th class="th-custom">Pengetahuan</th>
                                                                                <th class="th-custom">Keterampilan</th>
                                                                                <th class="th-custom">Nilai Akhir</th>
                                                                            </tr>
                                                                    <%
                                                                            semesterObject.mata_pelajaran.forEach(mataPelajaranObject => { 
                                                                    %>
                                                                                <tr class="white-border-side">
                                                                                    <td class="td-custom"><%= mataPelajaranObject.mata_pelajaran %></td>  
                                                                                    <td class="td-custom"><%= mataPelajaranObject.pengetahuan %></td>
                                                                                    <td class="td-custom"><%= mataPelajaranObject.keterampilan %></td>
                                                                                    <td class="td-custom"><%= mataPelajaranObject.score_mata_pelajaran %></td>  
                                                                                </tr>
                                                                    <%  
                                                                            }); 
                                                                    %>
                                                                            <tr class="white-border-side">
                                                                                <th class="th-custom" colspan="3">Total Semester</th>
                                                                                <td class="td-custom"><%= semesterObject.total_semester %></td>
                                                                            </tr>

                                                                            <tr class="white-border-side white-border-bottom">
                                                                                <th class="th-custom" colspan="3">Rata-Rata Semester</th>
                                                                                <td class="td-custom"><%= semesterObject.score_semester %></td>
                                                                            </tr>

                                                                            <tr><td colspan="4" style="height: 50px;"></td></tr>
                                                                    <%
                                                                        }); 
                                                                    %>

                                                                    <tr class="white-border-side white-border-top">
                                                                        <th class="th-custom" colspan="3">Total Raport</th>
                                                                        <td class="td-custom"><%= tableItemObject.total_raport %></td>
                                                                    </tr>

                                                                    <tr class="white-border-side white-border-bottom">
                                                                        <th class="th-custom" colspan="3">Rata-Rata Raport</th>
                                                                        <td class="td-custom"><%= tableItemObject.score_raport %></td>
                                                                    </tr>

                                                                    <tr><td colspan="4" style="height: 50px;"></td></tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                <% }); %>
                                            </tbody>
                                            
                                            <tfoot>
                                                <tr>
                                                    <th class="th-custom">No.</th>
                                                    <th class="th-custom">Nama</th>
                                                    <th class="th-custom">Rombel</th>
                                                    <th class="th-custom">Tahun Masuk</th>
                                                    <th class="th-custom">Hasil Raport</th>
                                                    <th class="th-custom">Dibuat</th>
                                                    <th class="th-custom">Diubah</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("./../../../partials/footer.ejs"); -%>
        </div>

        <%- include("./../../../partials/script.ejs"); -%>
    </body>

    <%- include("./../../../partials/select-script.ejs"); -%>
    <%- include("./../../../partials/toast-script.ejs"); -%>

    <script>
        function filterSelect() {
            const rombelValue = document.getElementById("rombel_select").value;
            const tahunMasukValue = document.getElementById("tahun_masuk_select").value;

            window.location = `./?rombel=${rombelValue}&tahunMasuk=${tahunMasukValue}`;
        };
    </script>
</html>
